#cabecera {
    background-color:navy;
    border-style:none;
}
#pag1 {
    background-image:url('fondo.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height:474px;
}

#pag2 {
    background-color:white;
    height:474px;
}

#pie {
    background-color:white;
}

#elboton {
    background-color:#FFBF00; !important;
    border:0;
    color:white;
}

#a1 {
    background-color:navy;
    border:0;
}

#a2 {
    background-color:navy;
    border-color:navy;
    box-shadow:none;
    color:white; 
 }

#c1, #c3 {
    color:white;
    font-weight:normal;
}

#gordo {
    font-weight:bold;
}

#c2, #texto {
    color:white;
}

#otroboton {
    background-color:#58D3F7;
    color:white;
    opacity:0.7;
    position:relative;
    top:100px;
    border-color:#58D3F7;
}

#a4 {
    background-color:navy;
    box-shadow:none;
    border:0;
}

#a6 {
    background-color:navy;
    border-color:navy;
    color:white;
    box-shadow: 1px 1px 1px navy;
    
}

